In [24]:
import pandas as pd

In [25]:
# Load the dataset
data = pd.read_csv('../data/external/matches.csv')
data

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),Premier League,Matchweek 2,Mon,Away,W,3,1,...,Match Report,NaN,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),Premier League,Matchweek 3,Sun,Home,L,2,5,...,Match Report,NaN,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),Premier League,Matchweek 4,Sat,Away,D,1,1,...,Match Report,NaN,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),Premier League,Matchweek 5,Sat,Home,W,1,0,...,Match Report,NaN,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),Premier League,Matchweek 6,Sat,Away,D,1,1,...,Match Report,NaN,14,7,20.9,1,0,0,2024,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4783,87,2020-07-07,18:00 (19:00),Premier League,Matchweek 34,Tue,Away,L,1,2,...,Match Report,NaN,12,3,16.9,1,0,0,2020,Norwich City
4784,88,2020-07-11,12:30 (13:30),Premier League,Matchweek 35,Sat,Home,L,0,4,...,Match Report,NaN,11,2,19.8,1,0,0,2020,Norwich City
4785,89,2020-07-14,20:15 (21:15),Premier League,Matchweek 36,Tue,Away,L,0,1,...,Match Report,NaN,2,0,20.6,0,0,0,2020,Norwich City
4786,90,2020-07-18,17:30 (18:30),Premier League,Matchweek 37,Sat,Home,L,0,2,...,Match Report,NaN,6,2,13.4,0,0,0,2020,Norwich City
4787,91,2020-07-26,16:00 (17:00),Premier League,Matchweek 38,Sun,Away,L,0,5,...,Match Report,NaN,5,4,19.8,0,0,0,2020,Norwich City

In [26]:
# Certain dates and seasons are inconsistent - matches from year 2020 are labeled as season 2024!

In [27]:
# Create copy of the raw data and drop unnecessary columns
data = data.drop(labels=['Unnamed: 0', 'time', 'comp', 'day', 'venue', 'attendance', 'captain', 'referee', 'match report', 'notes'], axis=1)

In [28]:
# Explore the data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       4788 non-null   object
 1   round      4788 non-null   object
 2   result     4788 non-null   object
 3   gf         4788 non-null   int64
 4   ga         4788 non-null   int64
 5   opponent   4788 non-null   object
 6   xg         4788 non-null   float64
 7   xga        4788 non-null   float64
 8   poss       4788 non-null   int64
 9   formation  4788 non-null   object
 10  sh         4788 non-null   int64
 11  sot        4788 non-null   int64
 12  dist       4786 non-null   float64
 13  fk         4788 non-null   int64
 14  pk         4788 non-null   int64
 15  pkatt      4788 non-null   int64
 16  season     4788 non-null   int64
 17  team       4788 non-null   object
dtypes: float64(3), int64(9), object(6)
memory usage: 673.4+ KB

In [29]:
#Check for missing values
data.isna().sum()

date         0
round        0
result       0
gf           0
ga           0
opponent     0
xg           0
xga          0
poss         0
formation    0
sh           0
sot          0
dist         2
fk           0
pk           0
pkatt        0
season       0
team         0
dtype: int64

In [30]:
#Fill NaN values with column's mean
data['dist'] = data['dist'].fillna(value=data['dist'].mean())

In [31]:
#Check for missing values again
data.isna().sum()

date         0
round        0
result       0
gf           0
ga           0
opponent     0
xg           0
xga          0
poss         0
formation    0
sh           0
sot          0
dist         0
fk           0
pk           0
pkatt        0
season       0
team         0
dtype: int64

In [32]:
# Summarize the dataset with descriptive statistics
data.describe()

,gf,ga,xg,xga,poss,sh,sot,dist,fk,pk,pkatt,season
count,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,4788.00000,4788.000000
mean,1.447995,1.405388,1.396512,1.364745,50.432957,12.619256,4.261278,17.356247,0.453216,0.118212,0.14599,2022.365079
std,1.312635,1.286927,0.828847,0.814947,12.810958,5.548444,2.459963,3.048704,0.665250,0.342362,0.37937,1.461850
min,0.000000,0.000000,0.000000,0.000000,18.000000,0.000000,0.000000,5.300000,0.000000,0.000000,0.00000,2020.000000
25%,0.000000,0.000000,0.800000,0.700000,41.000000,9.000000,2.000000,15.400000,0.000000,0.000000,0.00000,2021.000000
50%,1.000000,1.000000,1.300000,1.200000,51.000000,12.000000,4.000000,17.200000,0.000000,0.000000,0.00000,2023.000000
75%,2.000000,2.000000,1.900000,1.800000,60.000000,16.000000,6.000000,19.100000,1.000000,0.000000,0.00000,2024.000000
max,9.000000,9.000000,7.000000,7.000000,82.000000,36.000000,15.000000,39.900000,4.000000,3.000000,3.00000,2024.000000

In [33]:
# Check season inconsistency
data['season'].value_counts()

season
2024    1520
2023     988
2022     760
2021     760
2020     760
Name: count, dtype: int64

In [34]:
# Drop duplicate rows while retaining the last occurrence (most recent data)
subset = data.drop(labels='season', axis=1)
data.drop_duplicates(subset=subset, keep='last', inplace=True)

In [35]:
# Re-check season consistency after cleaning
data['season'].value_counts()

season
2024    760
2023    760
2022    760
2021    760
2020    760
Name: count, dtype: int64

In [36]:
# Correct data types for categorical variables and date
data[['result', 'opponent', 'team']] = data[['result', 'opponent', 'team']].astype('category')
data['date'] = pd.to_datetime(data['date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3800 entries, 988 to 4787
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       3800 non-null   datetime64[ns]
 1   round      3800 non-null   object
 2   result     3800 non-null   category
 3   gf         3800 non-null   int64
 4   ga         3800 non-null   int64
 5   opponent   3800 non-null   category
 6   xg         3800 non-null   float64
 7   xga        3800 non-null   float64
 8   poss       3800 non-null   int64
 9   formation  3800 non-null   object
 10  sh         3800 non-null   int64
 11  sot        3800 non-null   int64
 12  dist       3800 non-null   float64
 13  fk         3800 non-null   int64
 14  pk         3800 non-null   int64
 15  pkatt      3800 non-null   int64
 16  season     3800 non-null   int64
 17  team       3800 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(2)
memory usage: 488.8+ KB

In [42]:
#Export DataFrame to a csv file
data.to_csv('../data/interim/data_clean.csv', index=False)